@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar{
               width: 6px;
               height: 12px;
}
::-webkit-slider-thumb{
               background: #6556cd;
}
